<!DOCTYPE html>
<html lang="en">

    <head>
        <title>About</title>
        <link rel="stylesheet" href="/assets/stylesheets/styles.css">
    </head>

    <body>

        <%- include("partials/header.ejs") %>

        <div class="content">
            <div class="about">
                <p>About ShareFlix</p>
                <p>ShareFlix is a website that allows anyone to organize their own watchalongs.</p>
                <p>Whether it's watching your favorite movies or TV shows, ShareFlix makes it easy to share those memorable moments with other people!</p>
            </div>
        </div>

        <%- include("partials/footer.ejs") %>

    </body>
</html>