<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Contact</title>
        <link rel="stylesheet" href="/assets/stylesheets/styles.css">
    </head>

    <body>

        <%- include("partials/header.ejs") %>

        <div class="content">
            <div class="contact">
                <p>Conctact us</p>
                <p>Address - 321 Not Fake Rd, Charlotte, NC 28215</p>
                <p>Phone - (123)456-7890</p>
            </div>
        </div>

        <%- include("partials/footer.ejs") %>

    </body>
</html>