<!DOCTYPE html>
<html lang="en">

    <head>
        <title>ShareFlix</title>
        <link rel="stylesheet" href="/assets/stylesheets/styles.css">
    </head>

    <body>

        <%- include("partials/header.ejs") %>

        <div class="content">
            <div class="introduction">
                <p>Welcome to ShareFlix, a website to organize watch-alongs with friends, families, or even other people with similar interests in movies and shows!</p>
                <p>This website aims to connect you with those people, allowing you to create or accept invites to the watchalongs. </p>
                <p>You can also browse a catalog of watchalongs to see which one of those interest you and register for it.</p>
                <p>Finally, users can easily track all of their scheduled watchalongs in their profile, as well as view the important details about it, like the host or the time and date of the event.</p>
                <p>Sign up now to get started and schedule your own watchalong meetups!</p>  
            </div>
        </div>

        <%- include("partials/footer.ejs") %>

    </body>
</html>