<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Login</title>
        <link rel="stylesheet" href="/assets/stylesheets/styles.css">
    </head>

    <body>

        <%- include("partials/header.ejs") %>

        <div class="content">
            <div class="login">
                <h1>Welcome to ShareFlix!</h1>
                <p>Enter your email and password to log in</p>
                <form id="login-form" method="POST" action="/user/login">
                    <label for="email">Email:</label>
                    <input type="text" name="email">
                    <p></p>
                    <label for="password">Password:</label>
                    <input type="text" name="password">
                    <p></p>
                    <input type="submit" value="Log In"/>
                </form>
            </div>
        </div>

        <%- include("partials/footer.ejs") %>

    </body>
</html>